.admin {
  width: 100vw;
}
.nav-admin {
  background: rgba(183, 126, 73, 1);
  margin: 0;
  width: 100%;
  height: 70px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
  padding:10px;
}
.btn-admin button{
    width: 200px;
    background-color: #F7AC59;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 20px 0;
    cursor: pointer;
}
.profile-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.profile-user{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.profile-date{
    margin: 0;
    padding: 0;
    text-align: end;
}
.profile-date span{
    position: relative;
    top: -22px;
    font-weight: lighter;
}
.title-publ{
    text-align: center;
    color: #2C3E50;
}

.pet-list {
    display: flex;
    gap: 2rem;
    padding: 2rem 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.pet-card {
    width: 246px;
    height: 362px;
    background: red;
    display: flex;
    flex-direction: column;
    box-shadow: 8px -8px 0px -4px rgba(0,0,0,0.75);
}

.pet-card .card-image {
    flex: 1;
    height: 227px
}

.pet-card .card-image img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.pet-card .card-info {
    background-color: #96ADD6;
    color: #FFFCF2;
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.8rem;
}

.pet-card .card-info .icon {
    width: 30px;
    height: 30px;
    padding: 1rem;
    cursor: pointer;
}